<html>
 
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        DONOR DASHBOARD
    </title>
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <!--ANGULLLLLAAAAARRRRRRRR-->
    <script>
        let myModule = angular.module("mouduleKuch", []);
        let myController = myModule.controller("controllerKuch", function ($scope, $http) {
            $scope.fetchmed = function () {
                let eemail = $("#txtEmail").val();
 
 
                let url = "/fetch-medicines?e=" + eemail;
                $http.get(url).then(function (resp) {
                    $scope.jsonarr = resp.data;
                }, function (err) {
                    alert(err.message);
                }
                )
            }
 
            // $scope.count;
 
            //add medcine +
            $scope.addmed = function (obj) {
                let qtyy = ++obj.qty;
                let url = "/add-that-medicine?qy=" + qtyy + "&ridno=" + obj.rid;
                $http.get(url).then(function (resp) {
 
                }, function (err) {
                    alert(err.message);
                })
            }
 
            //sub medcine -
            $scope.submed = function (obj) {
                let qtyy = --obj.qty;
                let url = "/sub-that-medicine?qy=" + qtyy + "&ridno=" + obj.rid;
                $http.get(url).then(function (resp) {
 
                }, function (err) {
                    alert(err.message);
                })
            }
 
            //dlt medicine
            $scope.dltmed = function (obj) {
                let record = obj.rid;
                let url = "/dlt-that-medicine?riid=" + record;
                $http.get(url).then(function (resp) {
                    $scope.fetchmed();
 
                }, function (err) {
                    alert(err.message);
                }
                )
            }
 
            //================for equipment============
 
            //equip fetch
            $scope.fetchequip = function () {
                let eemail = $("#txtEmail1").val();
 
 
                let url = "/fetch-equip?e=" + eemail;
                $http.get(url).then(function (resp) {
                    $scope.jsonarr = resp.data;
                }, function (err) {
                    alert(err.message);
                }
                )
            }
            //dlt equip
            $scope.dltequip = function (obj) {
                let record = obj.rid;
                let url = "/dlt-that-equip?riid=" + record;
                $http.get(url).then(function (resp) {
                    $scope.fetchequip();
 
                }, function (err) {
                    alert(err.message);
                }
                )
            }
 
        //for email auto matic
            //for password change in settings
            $scope.changepass = function () {
 
                let email = $("#txtEmail2").val();
                let opass = $("#txtOldPass").val();
                let npass = $("#txtNewPass").val();
                let url = "/change-pass?e=" + email + "&opass=" + opass + "&npass=" + npass;
                $http.get(url).then(function (resp) {
                    alert(JSON.stringify(resp.data));
                    $("#txtEmail2").val("");
                    $("#txtOldPass").val("");
                    $("#txtNewPass").val("");
                }, function (err) {
                    alert(err.message);
                }
                )
            }
 
        })
 
    </script>
 
    <script>
            //for email
            function setemail() {
                document.getElementById("txtEmail").value = localStorage.getItem("activeuser");
                document.getElementById("txtEmail").readOnly = true;
            }
    </script>
    <script>
            //for email
            function setemail1() {
                document.getElementById("txtEmail1").value = localStorage.getItem("activeuser");
                document.getElementById("txtEmail1").readOnly= true;
            }
    </script>
    <script>
            //for email
            function setemail2() {
                document.getElementById("txtEmail2").value = localStorage.getItem("activeuser");
                document.getElementById("txtEmail2").readOnly= true;
            }
            
 
        
 
 
    </script>
 
    <!------------regex---------->
    <script>
        $(document).ready(function () {
            $("#txtEmail").blur(function () {
                let e = $(this).val();
                if (e == "") return;
                let emailReg = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
                if (!emailReg.test(e)) {
                    alert("INVALID EMAIL");
                    $(this).val("").focus();
 
                }
            })
 
        })
    </script>
 
<script>
 function logout(){
    localStorage.removeItem("activeuser");
    location.href="startingpage.html";
 }
</script>
 
</head>
 
<body ng-app="mouduleKuch" ng-controller="controllerKuch"
    style="background-image: url('pics1/ChatGPT\ Image\ Jul\ 20\,\ 2026\ at\ 10_27_36\ AM.png'); background-position: center; background-size: contain;">
 
     <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary ">
        <div class="container-fluid">
 
            <a class="navbar-brand" href="startingpage.html">
                <img src="pics1/ChatGPT Image Jul 28, 2026 at 04_40_46 PM.png" style="height: 65px; width: auto; max-height: 65px;">
            </a>
 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
 
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mx-auto" style="margin-left: 850px;">
 

                  <li class="nav-item mx-2">
    <a class="nav-link" href="donor-dashboard.html">
        <i class="fa-solid fa-person me-1"></i>
        Donor Page
    </a>
</li>
 
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="donor-profile.html">
                            <i class="fa-solid fa-hand-holding-heart me-1"></i>
                            Profile
                        </a>
                    </li>
 
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="availEquip.html">
                             <i class="fa-solid fa-wheelchair"></i>
                            Equipment
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="availmed.html">
                            <i class="fa-solid fa-pills"></i>
                            Medicines
                        </a>
                    </li>
 
 
 
                </ul>
 <button class="btn btn-outline-light ms-auto" type="button" onclick="logout();">LOGOUT</button>
            </div>
 
        </div>
    </nav>
 
 
    <div style="margin-top: 110px;"></div>
 
    <!--design-->
    <center>
        <div class="text-center mt-4">
 
            <div class="fs-1 fw-bold" style="color:#1976D2;">
                Welcome, Donor!
            </div>
 
            <div style="margin:25px 0;">
                <hr style="width:350px; display:inline-block; vertical-align:middle;">
 
                <i class="fa-solid fa-heart-pulse fs-2" style="color:#1976D2; margin:0 20px;"></i>
 
                <hr style="width:350px; display:inline-block; vertical-align:middle;">
            </div>
 
            <div class="fs-5" style="color:#555;">
                Thank you for being a part of this noble cause.
                <br>
                Your contribution brings hope and makes a difference.
            </div>
        </div>
    </center>
    <!--===============MODAALLLLL forrrrr medddiiiicccninneeeee===================-->
    <div class="modal fade" id="myModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
 
                <div class="modal-header">
                    <h4 class="modal-title" style="color: brown;">MEDICINE MANAGEMENT</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
 
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Email_id :</label>
 
                        <input type="email" class="form-control" name="txtEmail"
                            id="txtEmail" placeholder="Enter your email id" required value="aakriti@gmail.com">
                        <span id="emailcheck"></span>
 
                    </div>
                    <center><input type="button" value="FETCH MEDICINES"
                            class="btn btn-primary" ng-click="fetchmed();">
                    </center>
                    <div class="container mt-4">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="table-success">
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Medicine Name</th>
                                    <th>Expiry Date</th>
                                    <th>Type</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
 
                            <tbody>
                                <tr ng-repeat="obj in jsonarr">
                                    <td>{{$index+1}}</td>
                                    <td>{{obj.medname}}</td>
                                    <td>{{obj.expdate.substring(0, obj.expdate.indexOf("T"))}}</td>
                                    <td>{{obj.packing}}</td>
                                    <td>
 
                                        <input type="button" value="+" ng-click="addmed(obj)"
                                            style=" margin-left:60px;">
                                        <input type="text" style="width:40px; margin-left: 10px;" value="{{obj.qty}}"
                                            disabled>
                                        <input type="button" value="-" ng-click="submed(obj)"
                                            style=" margin-left:10px;">
                                        <input type="button" value="🗑" style=" margin-left:10px;"
                                            ng-click="dltmed(obj)">
                                    </td>
                                </tr>
                            </tbody>
 
                        </table>
                    </div>
                </div>
 
 
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
 
            </div>
        </div>
    </div>
    <!---------==============MODALAALLLLL FORROORRRR EQUUIPPMMEENTTTTT============-->
    <div class="modal fade" id="myEquip" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
 
                <div class="modal-header">
                    <h4 class="modal-title" style="color: brown;">EQUIPMENT MANAGEMENT</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
 
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Email_id :</label>
 
                        <input type="email" class="form-control" name="txtEmail"
                            id="txtEmail1" placeholder="Enter your email id" required>
                        <span id="emailcheck"></span>
 
                    </div>
                    <center><input type="button" value="FETCH EQUIPMENTS"
                            class="btn btn-primary" ng-click="fetchequip();">
                    </center>
                    <div class="container mt-4">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="table-success">
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Equipment Name</th>
                                    <th>Condition</th>
                                    <th>Type</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
 
                            <tbody>
                                <tr ng-repeat="obj in jsonarr">
                                    <td>{{$index+1}}</td>
                                    <td>{{obj.equipment}}</td>
                                    <td>{{obj.conditions}}</td>
                                    <td>{{obj.type}}</td>
                                    <td>
 
 
                                        <input type="button" value="🗑" style=" margin-left:10px;"
                                            ng-click="dltequip(obj)">
                                    </td>
                                </tr>
                            </tbody>
 
                        </table>
                    </div>
                </div>
 
 
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
 
            </div>
        </div>
    </div>
    <!--===============MODAALLL FORRR SETTINGSSSS=================-->
    <div class="modal fade" id="settings" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
 
                <div class="modal-header">
                    <h4 class="modal-title" style="color: brown;">SETTINGS</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
 
                <div class="modal-body">
                    <div class="mb-4">
                        <label class="form-label">
                            Email ID
                        </label>
                        <input type="email" class="form-control" id="txtEmail2" placeholder="Enter Email ID"
                            disabled>
                    </div>
 
                    <div class="mb-4">
                        <label class="form-label">
                            Old Password
                        </label>
                        <input type="password" class="form-control" id="txtOldPass" placeholder="Enter Old Password">
                    </div>
 
                    <div class="mb-4">
                        <label class="form-label">
                            New Password
                        </label>
                        <input type="password" class="form-control" id="txtNewPass" placeholder="Enter New Password">
                    </div>
                    <center><input type="button" value="Change" class="btn btn-primary"
                            ng-click="changepass();">
                    </center>
                </div>
 
 
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
 
            </div>
        </div>
    </div>
    <!--=============CAARRRRRDDDDDDD=================-->
    <div class="container my-5">
        <div class="row g-4 justify-content-center">
 
            <div class="col-md-4 col-lg-3">
                <div class="card h-100 shadow" style="border-radius: 30px;">
                    <img src="pics1/user-icon-member-login-isolated-vector.jpg.webp" style="height: 200px; object-fit: contain;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body text-center">
                        <a href="/donor-prof" class="btn btn-primary w-100">OPEN PROFILE</a>
                    </div>
                </div>
            </div>
 
            <div class="col-md-4 col-lg-3">
                <div class="card h-100 shadow" style="border-radius: 30px;">
                    <img src="pics1/medical-pill-logo_1134503-791.jpg.avif" style="height: 200px; object-fit: contain;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body text-center">
                        <a href="/avail-med" class="btn btn-primary w-100">ADD MEDICINE</a>
                    </div>
                </div>
            </div>
 
            <div class="col-md-4 col-lg-3">
                <div class="card h-100 shadow" style="border-radius: 30px;">
                    <img src="pics1/images.png" style="height: 200px; object-fit: contain;" class="card-img-top p-3" alt="...">
                    <div class="card-body text-center">
                        <a href="/availEquip" class="btn btn-primary w-100">ADD EQUIPMENT</a>
                    </div>
                </div>
            </div>
 
            <div class="col-md-4 col-lg-3">
                <div class="card h-100 shadow" style="border-radius: 30px;">
                    <img src="pics1/Medical-Management-Logo2311aa-1-1.jpg" style="height: 200px; object-fit: contain;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body text-center">
                        <a href="#" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#myModal"
                            onclick="setemail();">MEDICINE MANAGEMENT</a>
                    </div>
                </div>
            </div>
 
            <div class="col-md-4 col-lg-3">
                <div class="card h-100 shadow" style="border-radius: 30px;">
                    <img src="pics1/EM-Logo-Website.jpg" style="height: 200px; object-fit: contain;" class="card-img-top p-3" alt="...">
                    <div class="card-body text-center">
                        <a href="#" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#myEquip"
                            onclick="setemail1();">EQUIPMENT MANAGEMENT</a>
                    </div>
                </div>
            </div>
 
            <div class="col-md-4 col-lg-3">
                <div class="card h-100 shadow" style="border-radius: 30px;">
                    <img src="pics1/windows-settings-icon-logo-png_seeklogo-479848.png" style="height: 200px; object-fit: contain;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body text-center">
                        <a href="#" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#settings"
                            onclick="setemail2();">SETTINGS</a>
                    </div>
                </div>
            </div>
 
        </div>
    </div>
 
</body>
 
</html>