<html>

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        DONOR DASHBOARD
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <!--ANGULLLLLAAAAARRRRRRRR-->
    <script>
        let myModule = angular.module("mouduleKuch", []);
        let myController = myModule.controller("controllerKuch", function ($scope, $http) {
            $scope.fetchmed = function () {
                let eemail = $("#txtEmail").val();


                let url = "/fetch-medicines?e=" + eemail;
                $http.get(url).then(function (resp) {
                    $scope.jsonarr = resp.data;
                }, function (err) {
                    alert(err.message);
                }
                )
            }

            // $scope.count;

            //add medcine +
            $scope.addmed = function (obj) {
                let qtyy = ++obj.qty;
                let url = "/add-that-medicine?qy=" + qtyy + "&ridno=" + obj.rid;
                $http.get(url).then(function (resp) {

                }, function (err) {
                    alert(err.message);
                })
            }

            //sub medcine -
            $scope.submed = function (obj) {
                let qtyy = --obj.qty;
                let url = "/sub-that-medicine?qy=" + qtyy + "&ridno=" + obj.rid;
                $http.get(url).then(function (resp) {

                }, function (err) {
                    alert(err.message);
                })
            }

            //dlt medicine
            $scope.dltmed = function (obj) {
                let record = obj.rid;
                let url = "/dlt-that-medicine?riid=" + record;
                $http.get(url).then(function (resp) {
                    $scope.fetchmed();

                }, function (err) {
                    alert(err.message);
                }
                )
            }

            //================for equipment============

            //equip fetch
            $scope.fetchequip = function () {
                let eemail = $("#txtEmail1").val();


                let url = "/fetch-equip?e=" + eemail;
                $http.get(url).then(function (resp) {
                    $scope.jsonarr = resp.data;
                }, function (err) {
                    alert(err.message);
                }
                )
            }
            //dlt equip
            $scope.dltequip = function (obj) {
                let record = obj.rid;
                let url = "/dlt-that-equip?riid=" + record;
                $http.get(url).then(function (resp) {
                    $scope.fetchequip();

                }, function (err) {
                    alert(err.message);
                }
                )
            }

        //for email auto matic
            //for password change in settings
            $scope.changepass = function () {

                let email = $("#txtEmail2").val();
                let opass = $("#txtOldPass").val();
                let npass = $("#txtNewPass").val();
                let url = "/change-pass?e=" + email + "&opass=" + opass + "&npass=" + npass;
                $http.get(url).then(function (resp) {
                    alert(JSON.stringify(resp.data));
                    $("#txtEmail2").val("");
                    $("#txtOldPass").val("");
                    $("#txtNewPass").val("");
                }, function (err) {
                    alert(err.message);
                }
                )
            }

        })

    </script>

    <script>
            //for email
            function setemail() {
                document.getElementById("txtEmail").value = localStorage.getItem("activeuser");
                document.getElementById("txtEmail").readOnly = true;
            }
    </script>
    <script>
            //for email
            function setemail1() {
                document.getElementById("txtEmail1").value = localStorage.getItem("activeuser");
                document.getElementById("txtEmail1").readOnly= true;
            }
    </script>
    <script>
            //for email
            function setemail2() {
                document.getElementById("txtEmail2").value = localStorage.getItem("activeuser");
                document.getElementById("txtEmail2").readOnly= true;
            }
            

        


    </script>

    <!------------regex---------->
    <script>
        $(document).ready(function () {
            $("#txtEmail").blur(function () {
                let e = $(this).val();
                if (e == "") return;
                let emailReg = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
                if (!emailReg.test(e)) {
                    alert("INVALID EMAIL");
                    $(this).val("").focus();

                }
            })

        })
    </script>

<script>
 function logout(){
    localStorage.removeItem("activeuser");
    location.href="startingpage.html";
 }
</script>

</head>

<body ng-app="mouduleKuch" ng-controller="controllerKuch"
    style="background-image: url('pics1/ChatGPT\ Image\ Jul\ 20\,\ 2026\ at\ 10_27_36\ AM.png'); background-position: center; background-size: contain;">

    <nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-primary" style="height: 170px;">
        <div style="width: 4px; height: 4px; border-color: white; border-radius: 50%; ">
            <img src="pics1/ChatGPT Image Jul 28, 2026 at 04_40_46 PM.png"
                style="width: 595px; height: 280px; margin-top: -130px; margin-left: -160px;">

        </div>
        <div class="container">



            <div class="collapse navbar-collapse" id="menu" style="margin-left: 70px;">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-5" style="font-size: 30px;margin-top: 20px;">
                        <a class="nav-link active" href="startingpage.html">
                            <i class="fa-solid fa-house me-1"></i> Home
                        </a>
                    </li>

                 <li class="nav-item mx-5" style="font-size: 30px;margin-top: 20px;">
    <a class="nav-link" href="donor-dashboard.html">
        <i class="fa-solid fa-person me-1"></i>
        Donor Page
    </a>
</li>

                    <li class="nav-item mx-5" style="font-size: 30px; margin-left:170px;margin-top: 20px;">
                        <a class="nav-link" href="donor-profile.html">
                            <i class="fa-solid fa-hand-holding-heart me-1"></i>
                            Profile
                        </a>
                    </li>

                    <li class="nav-item mx-5" style="font-size: 30px;margin-top: 20px; ">
                        <a class="nav-link" href="availEquip.html">
                            <i class="fa-solid fa-wheelchair" style="font-size: 36px;"></i>
                            Equipment
                        </a>
                    </li>
                    <li class="nav-item mx-5" style="font-size: 30px; margin-top: 20px; ">
                        <a class="nav-link" href="availmed.html">
                            <i class="fa-solid fa-pills"></i>
                            Medicines
                        </a>
                    </li>



                </ul>
<button class="btn btn-outline-success" type="button"
                style="font-size: 35px; color: white; margin-left: 670px; border-color: whitesmoke; "   onclick="logout();">LOGOUT</button>

       
            </div>

        </div>
    </nav>
<br>
    <!--design-->
    <center>
        <div style="text-align:center; margin-top:120px;">


            <div style="font-size:80px; font-weight:bold; color:#1976D2; margin-top:190px;">
                Welcome, Donor!
            </div>

            <div style="margin:25px 0;">
                <hr style="width:350px; display:inline-block; vertical-align:middle;">

                <i class="fa-solid fa-heart-pulse" style="font-size:45px; color:#1976D2; margin:0 20px;"></i>

                <hr style="width:350px; display:inline-block; vertical-align:middle;">
            </div>

            <div style="font-size:30px; color:#555;">
                Thank you for being a part of this noble cause.
                <br>
                Your contribution brings hope and makes a difference.
            </div>
        </div>
    </center>
    <!--===============MODAALLLLL forrrrr medddiiiicccninneeeee===================-->
    <div class="modal fade" id="myModal" tabindex="-1">
        <div class="modal-dialog modal-xl" style="max-width:60%;">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title" style="color: brown;">MEDICINE MANAGEMENT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div style="font-size: 30px; ">
                        Email_id :


                        <input type="email" style="width: 50%; font-size: 30px;  margin-bottom: 20px;" name="txtEmail"
                            id="txtEmail" placeholder="Enter your email id" required value="aakriti@gmail.com">
                        <span id="emailcheck" style="margin-bottom:40px;"></span>

                    </div>
                    <br>
                    <center><input type="button" value="FETCH MEDICINES" style="font-size: 30px;"
                            class="btn btn-primary" ng-click="fetchmed();">
                    </center>
                    <div class="container mt-4">
                        <table class="table table-bordered table-striped table-hover"
                            style="font-size: 30px; width: 100%;">
                            <thead class="table-success">
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Medicine Name</th>
                                    <th>Expiry Date</th>
                                    <th>Type</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="obj in jsonarr">
                                    <td>{{$index+1}}</td>
                                    <td>{{obj.medname}}</td>
                                    <td>{{obj.expdate.substring(0, obj.expdate.indexOf("T"))}}</td>
                                    <td>{{obj.packing}}</td>
                                    <td>

                                        <input type="button" value="+" ng-click="addmed(obj)"
                                            style=" margin-left:60px;">
                                        <input type="text" style="width:40px; margin-left: 10px;" value="{{obj.qty}}"
                                            disabled>
                                        <input type="button" value="-" ng-click="submed(obj)"
                                            style=" margin-left:10px;">
                                        <input type="button" value="🗑" style=" margin-left:10px;"
                                            ng-click="dltmed(obj)">
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 30px;">
                        Close
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!---------==============MODALAALLLLL FORROORRRR EQUUIPPMMEENTTTTT============-->
    <div class="modal fade" id="myEquip" tabindex="-1">
        <div class="modal-dialog modal-xl" style="max-width:60%;">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title" style="color: brown;">EQUIPMENT MANAGEMENT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div style="font-size: 30px; ">
                        Email_id :


                        <input type="email" style="width: 50%; font-size: 30px;  margin-bottom: 20px;" name="txtEmail"
                            id="txtEmail1" placeholder="Enter your email id" required>
                        <span id="emailcheck" style="margin-bottom:40px;"></span>

                    </div>
                    <br>
                    <center><input type="button" value="FETCH EQUIPMENTS" style="font-size: 30px;"
                            class="btn btn-primary" ng-click="fetchequip();">
                    </center>
                    <div class="container mt-4">
                        <table class="table table-bordered table-striped table-hover"
                            style="font-size: 30px; width: 100%;">
                            <thead class="table-success">
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Equipment Name</th>
                                    <th>Condition</th>
                                    <th>Type</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="obj in jsonarr">
                                    <td>{{$index+1}}</td>
                                    <td>{{obj.equipment}}</td>
                                    <td>{{obj.conditions}}</td>
                                    <td>{{obj.type}}</td>
                                    <td>


                                        <input type="button" value="🗑" style=" margin-left:10px;"
                                            ng-click="dltequip(obj)">
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 30px;">
                        Close
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!--===============MODAALLL FORRR SETTINGSSSS=================-->
    <div class="modal fade" id="settings" tabindex="-1">
        <div class="modal-dialog modal-xl" style="max-width:60%;">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title" style="color: brown;">SETTINGS</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-4">
                        <label class="form-label " style="font-size:35px;">
                            Email ID
                        </label>
                        <input type="email" class="form-control" id="txtEmail2" placeholder="Enter Email ID"
                            style="height:55px;font-size:30px;" disabled>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" style="font-size:35px;">
                            Old Password
                        </label>
                        <input type="password" class="form-control" id="txtOldPass" placeholder="Enter Old Password"
                            style="height:55px;font-size:30px;">
                    </div>

                    <div class="mb-4">
                        <label class="form-label" style="font-size:35px;">
                            New Password
                        </label>
                        <input type="password" class="form-control" id="txtNewPass" placeholder="Enter New Password"
                            style="height:55px;font-size:30px;">
                    </div>
                    <center><input type="button" value="Change" style="font-size: 30px;" class="btn btn-primary"
                            ng-click="changepass();">
                    </center>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 30px;">
                        Close
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!--=============CAARRRRRDDDDDDD=================-->
    <center>
        <div class="card"
            style="width: 30rem; border-radius: 150px; height: 500px; float: left; margin-left: 700px; margin-top: 90px; border-color: white ;border-width: 5px;box-shadow: 0 12px 30px rgba(0,0,0,0.2); ">
            <img src="pics1/user-icon-member-login-isolated-vector.jpg.webp" style=" width: 300px;height: 280px;"
                class="card-img-top" alt="...">
            <div class="card-body">

                <br>
                <a href="/donor-prof" class="btn btn-primary" style="width: 300px; height:60px;  font-size: 30px;">OPEN
                    PROFILE
                </a>
            </div>
        </div>
        <div class="card"
            style="width: 30rem; border-radius: 150px; margin-top: 90px;height: 500px; float: left; margin-left: 50px; border-color: white ; box-shadow: 0 12px 30px rgba(0,0,0,0.2);">
            <img src="pics1/medical-pill-logo_1134503-791.jpg.avif" style=" width: 300px;height: 280px;"
                class="card-img-top" alt="...">
            <div class="card-body">

                <br>
                <a href="/avail-med" class="btn btn-primary" style="width: 300px; height:60px; font-size: 30px; ">ADD
                    MEDICINE</a>
            </div>
        </div>
        <div class="card"
            style=" border-radius: 150px; box-shadow: 0 12px 300px rgba(0,0,0,0.2); border-color: white ; width: 30rem;margin-top: 90px; height: 500px; float: left; margin-left: 50px;">
            <img src="pics1/images.png" style=" width: 300px;height: 280px;" class="card-img-top" alt="...">
            <div class="card-body">

                <br>
                <a href="/availEquip" class="btn btn-primary" style="width: 300px; height:60px; font-size: 30px;">ADD
                    EQUIPMENT</a>
            </div>
        </div>
        <div class="card"
            style="width: 30rem; border-radius:150px;box-shadow: 0 12px 30px rgba(0,0,0,0.2); border-color: white ;  float: left; margin-left: 700px; margin-top: 50px; height: 500px;">
            <img src="pics1/Medical-Management-Logo2311aa-1-1.jpg" style=" width: 300px;height: 280px;"
                class="card-img-top" alt="...">
            <div class="card-body">

                <br>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
                    style="width: 300px; height:100px; font-size: 30px;" onclick="setemail();">MEDICINE MANAGEMENT</a>
            </div>
        </div>
        <br>
        <div class="card"
            style="width: 30rem; border-radius:150px; box-shadow: 0 12px 30px rgba(0,0,0,0.2); border-color: white ; height: 500px; float: left; margin-left: 50px;  margin-top: 50px;">
            <img src="pics1/EM-Logo-Website.jpg" style=" width: 300px;height: 280px; margin-top: 25px;" class="card-img-top" alt="...">
            <div class="card-body">

                <br>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myEquip"
                    style="width: 300px; height:100px; font-size: 30px;" onclick="setemail1();">EQUIPMENT
                    MANAGEMENT</a>
            </div>
        </div>
        <div class="card"
            style="width: 30rem; border-radius:150px; box-shadow: 0 12px 30px rgba(0,0,0,0.2); border-color: white ;height: 500px; float: left; margin-left: 50px; margin-top: 50px;">
            <img src="pics1/windows-settings-icon-logo-png_seeklogo-479848.png" style=" width: 300px;height: 280px; margin-top: 40px;"
                class="card-img-top" alt="...">
            <div class="card-body">

                <br>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#settings"
                    style="width: 300px; height:60px; font-size: 30px;" onclick="setemail2();">SETTINGS</a>
            </div>
        </div>
    </center>

</body>

</html>